In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.chdir("C://Papu//Inmar//Final_exercise_1")

In [3]:
#converting consumer_incentive_1 csv file to dataframe
df1 = pd.read_csv("consumer_incentive_1.csv")

C:\Papu\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
#reading top rows of dataframe
df1.head()

,consumer_incentive_id,consumer_id_id,incentive_id,status,value,selection_date,redeem_count,redeem_date,retailer_id,withdrawn_datetime,...,created_by,created_source,created_timestamp,updated_by,updated_source,updated_timestamp,clientid,transyear,transmonth,rk
0,3432393,1252666,256009,1,100,2017-02-08 14:38:38.0,1.0,2017-02-10 19:09:58,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,162,2017,2,95117
1,3432395,151777,251856,1,150,2017-02-08 14:38:40.0,1.0,2017-04-15 14:26:07,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,162,2017,2,95118
2,3432419,268582,259208,1,200,2017-02-08 14:40:43.0,1.0,2017-02-08 12:22:40,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,162,2017,2,95119
3,3432422,1482440,259208,1,200,2017-02-08 14:41:00.0,1.0,2017-02-16 17:46:14,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,162,2017,2,95120
4,3432492,100845,259196,1,100,2017-02-08 14:46:00.0,1.0,2017-03-08 15:12:19,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,162,2017,2,95121

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 871255 entries, 0 to 871254
Data columns (total 29 columns):
consumer_incentive_id         871255 non-null int64
consumer_id_id                871255 non-null int64
incentive_id                  871255 non-null int64
status                        871255 non-null int64
value                         871255 non-null int64
selection_date                871255 non-null object
redeem_count                  78395 non-null float64
redeem_date                   78395 non-null object
retailer_id                   871255 non-null int64
withdrawn_datetime            0 non-null float64
redeemable_start_date         0 non-null float64
redeemable_end_date           0 non-null float64
site_id                       0 non-null float64
dynamic_display_start_date    0 non-null float64
dynamic_display_end_date      0 non-null float64
incentive_clip_type_id        0 non-null float64
redeemer_consumer_id_id       871255 non-null int64
media_property_id             867597 non-null float64
clip_timestamp                871255 non-null object
created_by                    0 non-null float64
created_source                0 non-null float64
created_timestamp             0 non-null float64
updated_by                    0 non-null float64
updated_source                0 non-null float64
updated_timestamp             0 non-null float64
clientid                      871255 non-null int64
transyear                     871255 non-null int64
transmonth                    871255 non-null int64
rk                            871255 non-null int64
dtypes: float64(15), int64(11), object(3)
memory usage: 192.8+ MB

In [6]:
len(df1.columns)

29

In [7]:
#reading consumer_incentive_2 csv file to dataframe
df2 = pd.read_csv("consumer_incentive_2.csv")

C:\Papu\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
len(df2.columns)

29

In [9]:
#reading consumer_incentive_3 csv file to dataframe
df3 = pd.read_csv("consumer_incentive_3.csv")

In [10]:
len(df1)

871255

In [11]:
len(df2)

670879

In [12]:
len(df3)

696616

In [13]:
len(df1)+len(df2)+len(df3)

2238750

In [14]:
#combining dataframes df1, df2 and df3 into df4
df4 = pd.concat([df1,df2,df3])

C:\Papu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

In [15]:
len(df4)

2238750

In [16]:
df4.head()

,clientid,clip_timestamp,consumer_id_id,consumer_incentive_id,consumer_incentive_id|consumer_id_id|incentive_id|status|value|selection_date|redeem_count|redeem_date|retailer_id|withdrawn_datetime|redeemable_start_date|redeemable_end_date|site_id|dynamic_display_start_date|dynamic_display_end_date|incentive_clip_type_id|redeemer_consumer_id_id|media_property_id|clip_timestamp|created_by|created_source|created_timestamp|updated_by|updated_source|updated_timestamp|clientid|transyear|transmonth,created_by,created_source,created_timestamp,dynamic_display_end_date,dynamic_display_start_date,...,selection_date,site_id,status,transmonth,transyear,updated_by,updated_source,updated_timestamp,value,withdrawn_datetime
0,162.0,2017-02-08 14:38:38,1252666.0,3432393.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2017-02-08 14:38:38.0,NaN,1.0,2.0,2017.0,NaN,NaN,NaN,100.0,NaN
1,162.0,2017-02-08 14:38:40,151777.0,3432395.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2017-02-08 14:38:40.0,NaN,1.0,2.0,2017.0,NaN,NaN,NaN,150.0,NaN
2,162.0,2017-02-08 14:40:42,268582.0,3432419.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2017-02-08 14:40:43.0,NaN,1.0,2.0,2017.0,NaN,NaN,NaN,200.0,NaN
3,162.0,2017-02-08 14:41:00,1482440.0,3432422.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2017-02-08 14:41:00.0,NaN,1.0,2.0,2017.0,NaN,NaN,NaN,200.0,NaN
4,162.0,2017-02-08 14:46:00,100845.0,3432492.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2017-02-08 14:46:00.0,NaN,1.0,2.0,2017.0,NaN,NaN,NaN,100.0,NaN

In [17]:
df4.drop(['consumer_incentive_id|consumer_id_id|incentive_id|status|value|selection_date|redeem_count|redeem_date|retailer_id|withdrawn_datetime|redeemable_start_date|redeemable_end_date|site_id|dynamic_display_start_date|dynamic_display_end_date|incentive_clip_type_id|redeemer_consumer_id_id|media_property_id|clip_timestamp|created_by|created_source|created_timestamp|updated_by|updated_source|updated_timestamp|clientid|transyear|transmonth']\
        ,axis=1, inplace=True)

In [18]:
#writing df4 dataframe to a csv file
df4.to_csv("consumer_incentive.csv")

In [19]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2238750 entries, 0 to 696615
Data columns (total 29 columns):
clientid                      float64
clip_timestamp                object
consumer_id_id                float64
consumer_incentive_id         float64
created_by                    float64
created_source                float64
created_timestamp             float64
dynamic_display_end_date      float64
dynamic_display_start_date    float64
incentive_clip_type_id        float64
incentive_id                  float64
media_property_id             float64
redeem_count                  float64
redeem_date                   object
redeemable_end_date           float64
redeemable_start_date         float64
redeemer_consumer_id_id       float64
retailer_id                   float64
rk                            float64
selection_date                object
site_id                       float64
status                        float64
transmonth                    float64
transyear                     float64
updated_by                    float64
updated_source                float64
updated_timestamp             float64
value                         float64
withdrawn_datetime            float64
dtypes: float64(26), object(3)
memory usage: 512.4+ MB